<div class="col-md-12 topDiv">
</div>

<div class="col-md-2 menuDiv">
    <button class="btn btn-primary menuBtn" onclick="homeBtn()"><i class="fa fa-home fa-1x" aria-hidden="true"></i> Home
    </button>
</div>


